/* Color of page background */
body {
    background-color: #525564;
    /* Custom padding */
    padding: 50px 0 0 0;
}

.btn.contact {
    font-size: 30px;
}
.col-md-4 {
    text-align: center;
    padding: 200px 0;
}

/* Color of phone/mail Awesome Font */
.fa-5x {
    color: navajowhite;
}

/* Color of arrow Awesome Font */
.fa-3x {
    color: ghostwhite;
}

/* Color of footer */
.footer {
    background-color: #525564;
}

/* Custom CSS for tablet size screens and lower */
@media screen and (max-width: 991px) {
    .btn.contact {
        font-size: 20px;
    }
    .col-md-4 {
        padding: 0 0;
    }
    .fa-3x {
        display: none;
    }
    body {
        padding: 80px 0 0 0;
    }
}

/* Color and size of paragraph text */
p {
    font-size: 40px;
    color: ghostwhite;
}