/* Begin sticky footer CSS */
html {
  position: relative;
  min-height: 100%;
}

body {
    padding: 70px 0 0 0;
      /* Margin bottom by footer height */
    margin-bottom: 50px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Fixed height for footer */
    height: 50px;
    text-align: center;
    padding: 10px 0;
}
/* End sticky footer CSS */

.footer .fa-2x {
    color: navajowhite;
    padding: 0 2%;
}